body {
    font-family: Helvetica, Arial, sans-serif;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;

    font-size: 160%;
}

.ar_model {
    display: none;
}

#left_btn {
    position: fixed;
    bottom: 50px;
    /* left: 50px; */
    left: calc(30% - 50px);

    width: 100px;
    height: 100px;

    background-color: #fff;
    text-align: center;
}

#right_btn {
    position: fixed;
    bottom: 50px;
    /* left: 170px; */
    left: calc(60% - 50px);

    width: 100px;
    height: 100px;

    background-color: #fff;
    text-align: center;
}

#share_btn {
    position: fixed;
    bottom: 50px;
    right: calc(30% - 50px);
    width: 100px;

    height: 100px;

    background-color: #fff;
    text-align: center;
}
.ellipse {
    border: #fff solid 1px;
    border-radius: 50%;
}

.a-enter-vr-button {
    display: none;
}

#v_model {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}